{% extends "base.html" %}

{% block content %}
{% if messages %}
<div class="messages ba br2 b--silver bg-washed-green pa2">
  {% for message in messages %}
  <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
    {% endfor %}
</div>
{% endif %}
<section class="album-list">
  <h1>All Albums</h1>
  {% for album in albums %}
  <div class="album mv4">
      <a href={% url 'show_album' pk=album.pk %} class="album_title f3 fw6 db dark-pink no-underline underline-hover">{{ album.title }}</a>
      <p class="mv3">by {{ album.artist_name }} </p>
      <p class="f6 gray">Released in {{album.year}}</p>
      <a href={% url 'edit_album' pk=album.pk%} class="f8 blue no-underline underline-hover"><i class="fa fa-edit ph2 pink"></i>edit</a>
      <a href={% url 'delete_album' pk=album.pk%} class="f8 blue no-underline underline-hover"><i class="fa fa-times ph2 pink"></i>delete</a>
  </div>
  {% endfor %}
</section>

<section class="add-album mt4">
  <a href={% url 'add_album' %} class="db dark-pink link dim"><i class="fa fa-plus ph2"></i>add a new album</a>
</section>
{% endblock content %}
